
<%- include header -%>

    <% if (! pictures.length) { %>

    <% } else { %>
        <% for (var i = 0; i < pictures.length; i++) {
            var pic = pictures[i];
            %>
            <article class="box post">
                <header>
                    <h2><%= pic.get("title") %></h2>
                </header>
                <a href="/saveVote" class="button icon fa-file do-vote" data-vote="<%= pic.id %>">Vote</a><br />
                <span class="image featured monthly">
                    <img src="/images/monthly/<%= pic.get("month") %>/<%= pic.get("file") %>"
                         alt="<%= pic.get("title") %>" /></span>
                <h3><%= pic.get("title") %></h3>
                <p><%= pic.get("description") %></p>
            </article>
        <% } %>
    <% } %>

<script type="text/javascript">
var disableVoting = function(className)
{
    $("a." + className).off("click");
    $("a." + className).click(function(e)
    {
        e.preventDefault();

        $(this).html("Nice try :o]");

        return false;
    });
};

var enableVoting = function(className)
{
    $("a." + className).click(function(e)
    {
        e.preventDefault();

        var button   = $(this);
        var resp_ctr = $(this).siblings(".vote-response").first();
        var cnt_ctr  = $(this).siblings(".cnt-votes").find(".cnt").first();
        var vote_for = $(this).attr("data-vote");
        var monthy   = $("#my").text();
        var cur_cnt  = parseInt(cnt_ctr.text());

        $.ajax({
            url: "/saveVote",
            type: "post",
            data: {
                voting: vote_for,
                my: monthy
            },
            success:function(d)
            {
                cur_cnt++;

                disableVoting("do-vote");
                button.addClass("done");
                button.off("click");
                cnt_ctr.text(cur_cnt);
            }
        });
        return false;
    });
};

$(document).ready(function()
{
    enableVoting("do-vote");
    disableVoting("has-voted");
});
</script>

<%- include footer -%>
