
<%- include header -%>

<link rel="stylesheet" type="text/css" href="/css/jTinder.css">
<script type="text/javascript" src="/js/jquery.transform2d.js"></script>
<script type="text/javascript" src="/js/jquery.jTinder.js"></script>

    <% if (! pictures.length) { %>

<div class="wrap">
    <p>Unfortunately, no Pictures have been added to this PicPoll
    instance yet!</p>
</div>

    <% } else { %>

<div class="wrap">
    <div id="picpollSlider-<%= uniqueId %>" class="picpollSlider">
        <ul>
        <% for (var i = 0, idx = pictures.length-1; i < pictures.length; i++, idx--) {
            var pic = pictures[i];
            %>
            <li class="swiperPane pane1"
                data-index="<%= idx %>"
                data-vote="<%= pic.id %>"
                data-month="<%= pic.get("month") %>">
                <div class="img"><img src="/images/monthly/<%= pic.get("month") %>/<%= pic.get("file") %>" /></div>
                <div><%= pic.get("title") %></div>
                <div class="smallText"><%= pic.get("description") %></div>
                <div class="smallText">
                    <span><%= pic.get("countVotes") %></span><span> Vote(s)</span>
                </div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
        <% } %>
        </ul>
    </div>
</div>

<div class="actions">
    <a href="#" class="like"><i></i></a>
    <a href="#" class="dislike"><i></i></a>
</div>

    <% } %>

<script type="text/javascript">
$("#picpollSlider-<%= uniqueId %>").jTinder({
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike',
    onFinish: function() {},
    onBeforeNext: function(index, action) {
        var panel = $(".swiperPane[data-index='" + index + "']");
        var picId = panel.attr("data-vote");
        var month = panel.attr("data-month");

        if (action == "dislike")
            return false;

        // saveVote when pic is liked
        $.ajax({
            url: "/saveVote",
            type:"POST",
            data: {voting: picId, my: month}});
    },
    onAfterNext: function(index, action) {}
});

$('.actions .like').click(function(e){
    e.preventDefault();
    $("#picpollSlider-<%= uniqueId %>").jTinder("like");
});

$('.actions .dislike').click(function(e){
    e.preventDefault();
    $("#picpollSlider-<%= uniqueId %>").jTinder("dislike");
});
</script>

<%- include footer -%>
