
<%- include header -%>

<link rel="stylesheet" type="text/css" href="/css/jTinder.css">
<script type="text/javascript" src="/js/jquery.transform2d.js"></script>
<script type="text/javascript" src="/js/jquery.jTinder.js"></script>

    <% if (! pictures.length) { %>

    <% } else { %>

<div class="wrap">
    <div id="picpollSlider-<%= uniqueId %>" class="picpollSlider">
        <ul>
        <% for (var i = 0; i < pictures.length; i++) {
            var pic = pictures[i];
            %>
            <li class="swiperPane pane1" data-vote="<%= pic.id %>">
                <div><img src="/images/monthly/<%= pic.get("month") %>/<%= pic.get("file") %>" /></div>
                <div><%= pic.get("title") %></div>
                <div class="smallText"><%= pic.get("description") %></div>
                <div class="smallText">
                    <span><%= pic.get("countVotes") %></span><span> Vote(s)</span>
                </div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
        <% } %>
        </ul>
    </div>
</div>

<div class="actions">
    <a href="#" class="like"><i></i></a>
    <a href="#" class="dislike"><i></i></a>
</div>

    <% } %>

<script type="text/javascript">
$("#picpollSlider-<%= uniqueId %>").jTinder({
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'
});

$('.actions .like').click(function(e){
    e.preventDefault();
    $("#picpollSlider-<%= uniqueId %>").jTinder("like");
});

$('.actions .dislike').click(function(e){
    e.preventDefault();
    $("#picpollSlider-<%= uniqueId %>").jTinder("dislike");
});
</script>

<%- include footer -%>
