
<%- include header -%>

<link rel="stylesheet" type="text/css" href="/css/jTinder.css">
<script type="text/javascript" src="/js/jquery.transform2d.js"></script>
<script type="text/javascript" src="/js/jquery.jTinder.js"></script>
<script type="text/javascript" src="/js/jquery.highcharts.min.js"></script>
<script type="text/javascript" src="/js/jquery.highcharts-3d.min.js"></script>

    <% if (! pictures.length) { %>

<div class="wrap">
    <p>Unfortunately, no Pictures have been added to this PicPoll
    instance yet!</p>
</div>

    <% } else { %>

<div class="wrap slider">
    <div id="picpollSlider-<%= uniqueId %>" class="picpollSlider">
        <ul>
        <% for (var i = 0; i < pictures.length; i++) {
            var pic = pictures[i];
            var src = pic.get("picUrl");
            %>
            <li class="swiperPane pane1"
                data-index="<%= i %>"
                data-vote="<%= pic.id %>"
                data-month="<%= pic.get("month") %>">
                <div class="img"><img src="<%= src %>" /></div>
                <div><%= pic.get("title") %></div>
                <div class="smallText"><%= pic.get("description") %></div>
                <div class="smallText">
                    <span><%= pic.get("countVotes") %></span><span> Vote(s)</span>
                </div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
        <% } %>
        </ul>
    </div>
</div>

<div class="actions">
    <a href="#" class="like"><i></i></a>
    <a href="#" class="dislike"><i></i></a>
</div>

<div id="statistics-container">Statistics will render here !</div>

    <% } %>

<script type="text/javascript">
var initializeSwiper = function()
{
    $("#picpollSlider-<%= uniqueId %>").jTinder({
        animationRevertSpeed: 200,
        animationSpeed: 400,
        threshold: 1,
        likeSelector: '.like',
        dislikeSelector: '.dislike',
        onFinish: function() {
            $(".wrap.slider, .actions").fadeOut("slow");
        },
        onBeforeNext: function(index, action) {
            var panel = $(".swiperPane[data-index='" + index + "']");
            var picId = panel.attr("data-vote");
            var month = panel.attr("data-month");

            if (action == "dislike")
                return false;

            // saveVote when pic is liked
            $.ajax({
                url: "/saveVote",
                type:"POST",
                data: {voting: picId, my: month}});
        }
    });

    $('.actions .like').click(function(e){
        e.preventDefault();
        $("#picpollSlider-<%= uniqueId %>").jTinder("like");
    });

    $('.actions .dislike').click(function(e){
        e.preventDefault();
        $("#picpollSlider-<%= uniqueId %>").jTinder("dislike");
    });
};

/**
 * Initialize charts with Highcharts jQuery plugin.
 * @link http://api.highcharts.com/highcharts
 **/
var initializeChart = function()
{
    var chartParams = {
        renderTo: 'statistics-container',
        type: 'column',
        margin: 75,
        options3d: {
            enabled: true, alpha: 15, beta: 15,
            depth: 50, viewDistance: 25}};

    $.ajax({
        url: "/getStatistics?m=" + "<%= currentMonth %>",
        type: "GET",
        success: function(d) {
            var object = d;
            var chart  = new Highcharts.Chart({
                chart: chartParams,
                title: {text: 'Votes Statistics'},
                subtitle: {text: 'Current Votes Statistics'},
                plotOptions: {column: {depth: 25}},
                series: object.series,
                xAxis: {categories: object.categories},
            });
        }
    });
};

$(function ()
{
    initializeSwiper();
    initializeChart();
});
</script>

<%- include footer -%>
